/*O CSS external é o mais recomendado para estilizar um html, pois centraliza os comandos em um único arquivo e deixa tanto o CSS quanto o HTML mais legível e organizado.*/
body{
    font-weight: 400;/*define o peso da fonte, vai de 100 a 900, onde 400 é o normal e 700 já fica negrito*/
    font-family: Lato, Helvetica, sans-serif; /*define a fonte que vai ser usada no site, a primeira é a Lato, se não tiver ele tenta a Helvetica se não pega uma sans sem serifa*/
    font-size: 15px;/*define o tamanho da fonte do site*/
    line-height: 2.2en;/*define o espacamento da fonte*/
    color: #818181;/*atribuindo a cor da fonte no corpo do HTML com um código hexadecimal*/
    margin: 0;/*altera o limite da margem do corpo do html*/
}

header{
    background-color: #1e3ef4;
}

section, footer{
    margin: 20px;/*inserindo uma margen de 20px a section e no footer da pagina*/
}

h1{/*atribuindo tamanho de fonte e cor ao texto do cabeçalho h1 no html*/
    font-size: 55px;
    color: white;
    padding: 15px;/*delimita o texto para dentro da margem, o contrario line height que delimita para fora*/
    text-align: center;/*centraliza o texto*/
}

h2{/*estilizando o subtítulo h2 do HTML*/
    font-size: 24px;
    text-transform: uppercase;/*deixa o texto todo maíusculo*/
    color: #303030;
    font-weight: 600;
}

nav li a {/*alterando a cor dos links do cabecalho que sao elementos "a", que estão dentro da lista li e dentro da secao nav do html.*/
    padding: 10px;
    color: white;
    text-decoration: none;/*remove qualquer decoração do texto (negrito, sublinhado, etc)*/
}

nav li {
    float: right;/*coloca os elemento que estão na nav lista li do lado esquerdo do limite da lista.*/
}

nav ul{
    float: right;/*leva a lista ul para o lado direito da página*/
    list-style: none;/*remove as bolinhas da lista ou qualquer outro efeito*/
}

nav{
    font-size: 15px;/*alterando o tamanho da fonte dos elementos nav*/
    letter-spacing: 4px;/*alterando o espaçamento do texto*/
    height: 40px;/*defina a altura da área dessa nav*/
    background-color: #317cec;/*altera a cor de fundo da lista*/
    padding-right: 20px;/*altera a margem do texto para dentro somente do lado direito*/
}

table{
    width: 100%;/*altera a largura da tabela*/
}

table td{/*alterando a cor da coluna sem ser a do cabecalho*/
    color: #303030;/*altera a cor dessas colunas*/
    padding: 5px;/*coloca uma margem para o texto dentro dessas colunas*/
}

table tr:nth-child(even){/*utiliza uma pseudo classe para selecionar as linhas pares (even) da tabela com o comando nth-child(even), ou seja, seleciona linhas alternadas.*/
    background-color: #818181;
}

table tr:nth-child(odd){/*indica linhas impares (odd).*/
    background-color: #bdbdbdbd;
}

table thead th{/*selecionando o cabecalho da tabela, table tabela, thead cabecalho da tabela e th célula do cabecalho*/
    background-color: #1e3ef4;
    color: white;
    height: 25px;
}

#pacotes .figuras figure{/*#pacotes indica o id que estamos selecionando no html, o comando .figuras seleciona a classe e o figure indica as imagens*/
    display: inline-block;/*alinha todas as imagens dessa classe uma ao lado da outra.*/
}

#pacotes .figuras, #pacotes .videos{
    text-align: center;/*alinha as imagens e videos no centro da pagina*/
}